<h1>Editing pad</h1>


<%= render 'form' %>

<% if @pad.group.name == 'ungrouped' %>
  <%= link_to 'Goto Pad', '/p/'+@pad.name %>
<% else %>
  <%= link_to 'Goto Pad', group_pad_path(@pad.group.name, @pad.name) %>
<% end %>
|
<%= link_to 'Back to Padlist', group_pads_path(@pad.group) %>
