<% if @has_drawer %>
    <div id="pad-menu" class="modal hide fade" style="display: none;">
      <%= render 'layouts/messages' %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Edit Pad Settings</h3>
      </div>
      <div class="modal-body">
        <%= render partial: 'form' %>
      </div>
    </div>
  <div class="meny-arrow"></div>
<% end %>

<% if @is_public_readonly %>
<iframe frameborder="0" height="100%" width="100%" src="/epl/p/<%= @pad.readonly_id %>"></iframe>
<% else %>
<iframe frameborder="0" id="pad-frame" height="100%" width="100%" src="/epl/p/<%= @pad.pad_id %>"></iframe>
<% end %>
