// Place all the styles related to the pads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pads.show {
  padding: 0;
  margin: 0;
}

.pads.show iframe {
  border: none;
  -webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  padding: auto;
  margin: auto;
  position: absolute;
}

.snap-drawer-left {
  display: none;
  position: absolute;
  z-index: -2;
}

#pad-menu {
  padding: 20px;
}

/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
  position: absolute;
  z-index: 10;

  margin: auto;
  border: 6px solid transparent;

  left: 0;
  top: 50%;
  margin-top: -12px;
  border-left: 12px solid #333;

  -webkit-transition: opacity 0.4s ease 0.4s;
     -moz-transition: opacity 0.4s ease 0.4s;
      -ms-transition: opacity 0.4s ease 0.4s;
       -o-transition: opacity 0.4s ease 0.4s;
          transition: opacity 0.4s ease 0.4s;
}


.meny {
	display: none;
	padding: 20px;
	overflow: auto;
	background: #333;
	color: #eee;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*.form-inline span label.collection_radio_buttons {*/
  /*margin-right: 15px;*/
/*}*/


/*.form-inline span input {*/
  /*vertical-align: top;*/
  /*margin-right: 3px;*/
/*}*/
